.container {
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    background-color: #fff; 
    padding: 20px 20px;
    width: 100%;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .appointmentForm .form-label {
    font-weight: bold;
  }
  
  .form-control, .form-select {
    border-radius: 5px;
  }
  
  .form-control:focus, .form-select:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, .5);
  }
  
  .submitButton {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  