.itmBtn{
    margin: 5px 8px !important;
    border-radius: 5px !important;
    padding: 0 !important;
    padding-left: 12px !important;
}

.itmBtn:hover{
    background: #f9dfdf !important;
}

.active{
    background: linear-gradient(72.47deg, #ea3367df 22.16%, rgb(234, 51, 104, 0.7) 76.47%);
    box-shadow: 0px 2px 6px 0px rgb(115 103 240 / 48%);
}

.active:hover{
    background: linear-gradient(72.47deg, #ea3367df 22.16%, #ea3367df 76.47%) !important;
}

.openMenuBtn{
    position: fixed;
    z-index: 1;
    cursor: pointer;
    background: #ff8eaedf;
    color: rgb(255, 249, 249);
    padding-right: 2px;
    padding-bottom: 2px;
    border-bottom-right-radius: 5px;
}

.closeMenuBtn{
    position: absolute;
    right: 10px;
    padding: 4px;
    background: #ff8eaedf;
    border-radius: 5px;
    cursor: pointer;
}